{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Librhes {% block title %}{% endblock title %}</title>
    <script
      src="https://kit.fontawesome.com/8a603ffa06.js"
      async="true"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="{% static 'biblio/css/style' %}" />
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <header>
      <nav
        class="navbar is-info"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
              <span class="title has-text-white">Librhes</span>
            </a>

            <a
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="" class="navbar-item"> Livros </a>
              <a href="" class="navbar-item"> Autores </a>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary">
                    <strong>Criar conta</strong>
                  </a>
                  <a class="button is-light"> Entrar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="section">{% block content %}{% endblock content %}</section>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
