{% extends "biblio/base.html" %} {% load static %} {% block content %}
<div class="columns">
  <div class="column is-8 is-offset-2">
    {% comment %} Serchbar {% endcomment %}
    <div class="searchbar">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Pesquisar livro..." />
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-8 is-offset-2">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Título</th>
          <th>Author</th>
          <th>ISBN</th>
        </tr>
      </thead>
      <tbody>
        {% if book_list %} 
          {% for book in book_list %}
            <tr>
              <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
              <td>{{ book.author }}</td>
              <td>{{ book.isbn }}</td>
            </tr>
          {% endfor %}
        {% else %}
         <p>No momento, não temos livros no catálogo Librhes.</p>  
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
